{% extends 'dashboard_layout.html'%}

{% block body%}
<div class="col mb-5">
    <div class="row p-3 d-flex justify-content-between">
      <form action="{% url 'departments:search_student'%}" method="post">
        {% csrf_token %}
        <div class="input-group m-3 mb-4">
          <div class="col-6 justify-content-center">
            <input type="search" name="query" class='col -6 form-control' placeholder='Search Student Number' name="search" id="">
          </div>
            <input type="submit" class="input-group-text" value="Search"> 
        </form>
    </div>
        <div class="col-10 h5 ">
            Borrrowed Items
        </div>
        <div class="col">
            <!-- Button trigger modal -->

        <button type="button" class="btn main-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Borrow Item
        </button>

        </div>
    </div>

    <div class="row bg-light p-3">
        <div class="col">Reg No</div>
        <div class="col-3 text-start">Student</div>
        <div class="col-2 text-start">Item</div>
        <div class="col-1 text-start">Quantity</div>
        <div class="col-2 text-start">Borrowed Date</div>
        <div class="col-2 text-start">Returned Date</div>
        <div class="col-1 text-start">Actions</div>
    </div>
    {% for item in items%}
                    <div class="row justify-content-center p-3 text-start">
                        <div class="col text-start">{{ item.student.std_number}}</div>
                        <div class="col-3 text-start">{{ item.student}}</div>
                        <div class="col-2 text-start">{{ item.student_item}}</div>
                        <div class="col-1 text-start">{{ item.quantity}}</div>
                        <div class="col-2 text-start">{{ item.borrow_date}}</div>
                        <div class="col-2 text-start">{{ item.return_date}}</div>
                        <div class="col-auto">
                          {% if not item.return_date%}
                          <form action="{% url 'departments:clear_item' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="std_item" value="{{ item.id}}">
                            <input type="submit" value="Clear" class="btn bg-warning">
                          </form>
                          {% else %}
                          <div class="btn  bg-success p-2 text-white">
                            Returned
                          </div>
                          {% endif%}
                        </div>
                    </div>
                    {% endfor%}   
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Student</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="{% url 'departments:borrow_item'%}" method="post">
          {% csrf_token %}
        <div class="modal-body">
              <div class=" mb-3 ">
                  <label for="name" class="form-label">Student:</label> 
                  <select name="student" class="form-control">
                      <option value="">Select Student</option>
                      {% for stud in students%}
                      <option value="{{ stud.id}}"> {{ stud.std_number}} - {{ stud}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="mb-3">
                    <label for="item" class="form-label">Item:</label> 
                  <!-- <input type="number" name="price" class='form-control' id="price"> -->
                  <select name="student_item" class="form-control">
                      <option value=""> Select Item</option>
                    {% for itm in dept_items%}
                    <option value="{{ itm.id}}"> {{ itm }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="quantity" class="form-label">Quantity:</label> 
              <input type="number" name="quantity" class='form-control' id="price">
          </div>
                <input type="hidden" name="item_dept" value="{{dept.id}}">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary bg-dark" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn main-button">
              </div>
            </form>
      </div>
    </div>
  </div>

{% endblock%}