{% load static %}

<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 pe-5   position-fixed h-100" id="sticky-sidebar">
                <div class="row py-4">
                    <a class="navbar-brand fs-3 fw-bold color-text" href="#" style="color:#030334">
                       <img src="{% static 'images/cyborg-graduation-cap.png'%}" width='70' height='50' alt="">  OCS<br>
                    </a>
                </div>
                <ul class="nav flex-column justify-content-between sidebar list-group list-group-flush " >
                    <li class="nav-item list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link " aria-current="page" href="{% url 'home'%}">
                        <i class="icon ion-md-home me-3" style="font-size: 24px;"></i> 
                           <b> Home</b>
                        </a>
                    </li>
                    {% if user.supervisor.is_supervisor%}
                    <li class="nav-item flex-row list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'departments:department_requests' %}">
                        <i class="icon ion-md-clipboard me-3" style="font-size: 24px;"></i> 
                       <b> Requests</b>
                    </a>
                    </li>
                    {% endif %}
                    {% if user.registrar.is_registrar%}
                    <li class="nav-item flex-row list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'registrar' %}">
                        <i class="icon ion-md-close-circle me-3" style="font-size: 24px;"></i> 
                       <b> Pending Requests</b>
                    </a>
                    </li>
                    <li class="nav-item flex-row list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'registrar_cleared' %}">
                        <i class="icon ion-md-checkmark-circle me-3" style="font-size: 24px;"></i> 
                       <b> Cleared Requests</b>
                    </a>
                    </li>
                    {% endif %}
                    {% if not user.supervisor.is_supervisor%}
                      {% if not user.registrar.is_registrar%}
                    <li class="nav-item list-group-item bg-transparent mb-3 row border-0">
                        <a class="nav-link" href="{% url 'departments:departments' %}">
                                <i class="icon ion-md-business me-3" style="font-size: 24px;"></i> 
                               <b> Departments</b>
                            </a>
                    </li>
                    {% endif%}
                    {% endif%}
                    {% if user.supervisor.is_supervisor %}
                    <li class="nav-item list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'departments:department_items' %}">
                        <i class="icon ion-md-pricetags me-3" style="font-size: 24px;"></i> 
                         <b> Items</b>
                        </a>
                    </li>
                    {% endif %}

                    {% if user.supervisor.is_supervisor %}
                    <li class="nav-item list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'departments:student_items' %}">
                        <i class="icon ion-md-cart me-3" style="font-size: 24px;"></i> 
                         <b> Borrowed Items</b>
                        </a>
                    </li>
                    {% endif %}

                    <li class="nav-item list-group-item bg-transparent row mb-3 border-0">
                      <a class="nav-link" href="{% url 'report' %}">
                        <i class="icon ion-md-help-circle me-3" style="font-size: 24px;"></i> 
                         <b> Feedback</b>
                        </a>
                    </li>

                    </ul>
                    <div class=" bg-transparent border-0 justify-content-around position-absolute bottom-0 mb">
                           <div class="row mb-3 ">
                            <div class="col-auto fs-6 fw-light">
                              V 1.0.0
                            </div>
                            <div class="col-auto">

                      <!-- <a class="link" href="{% url 'report' %}">
                        <i class="icon ion-md-help-circle me-2" style="font-size: 20px;"></i> 
                          Feedback
                        </a> -->
                            </div>
                           </div> 
                            <!-- <a class="nav-link " href="{% url 'home' %}">
                                <i class="icon ion-md-medkit me-3" style="font-size: 24px;"></i> 
                                <b> Equipment</b>
                              </a> -->
                      </div>
            </div>
            <div class="col offset-2 w-90 " id="main" style="padding: 0px;">
                <nav class="navbar  main-bg ">
                    <div class="container-fluid">
                      <!-- <a class="navbar-brand" href="#">
                        <img src="{% static 'images/logo.jpeg' %}" alt="" width="50" height="50" class="d-inline-block align-text-center">
                        Title
                      </a> -->
                      <div class="col fs-3 fw-bold">
                       <!-- <input type="search" class="rounded-pill col-5 text-start border-0 px-3 py-2" placeholder='  Search Patient' name="search" id="search"> -->
                           <span>
                         Online Clearance System
                       </span>  
                      </div>
                      
                      <div class="d-flex flex-row justify-self-end  px-3  py-2 ">
                            {% if user.is_authenticated%}
                                <div class=" col-auto p-2 ">
                                 <div class="strong"><strong> {{ user }}</strong> </div>
                                 <div class="small"> 
                                    {{ user.getTitle}}
                                 </div>
                              </div> 
                              <div class="col-auto p-2">
                                <form action="{% url 'logout' %}" method="post">
                                  {% csrf_token %}
                                  <input type="submit" class='btn main-button  active px-3 py-2 fw-bold' value="Log Out">
                              </form>
                              </div>
                            {% else%}
                           
                            {% endif%}

                      </div>

                    </div>
                  </nav>
                  <!-- <div class="mt-4">
                    <div class="strong display-6 row col-8 justify-content-between">
                      <div class="col-6">
                        {% now "l\,\ d M Y"%}
                      </div>
                      <div class="col-3">
                        {% now "g\:i a"%}
                      </div>

                    </div>
                  </div> -->
                  <div class="px-3">
                {% block body %}
                    

                {%endblock %}
                  </div>

            </div>
        </div>
    </div>
   
    <script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.min.js' %}"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js"></script> -->
    <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>