{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html'%}
<body>
    <nav class="navbar  p-3 main-bg">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#">
            <img src="{% static 'images/logo.jpeg' %}" alt="" width="50" height="50" class="d-inline-block align-text-center">
            Title
          </a> -->
          
          <div class="col fs-3">
            <img src="{% static 'images/cyborg-graduation-cap.png'%}" width='70' height='50' alt="">
            Online Clearance System
          </div>
          

        </div>
      </nav>
      <div class="container mt-5 pt-5 p-3 col-7 login-form">
          {% if form.errors %}
            <div class="alert alert-danger" role="alert">
         {{form.errors }}
            </div>

        {% endif %}
        <div class="row">
          <p class="fs-4 align-self-center text-center fw-bold"> Welcome to Online Clearance System</p>
        <div class="col">
            <img src="{% static 'images/undraw_graduation_re_gthn.svg'%}" height='100%' width='100%' alt="">
          </div>
            <form action="/login" method="post" class="col">
                {% csrf_token %}
                 <center>

        <div class="col mt-3">
            
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <div class="alert alert-success" role="alert">
                <i class="icon ion-md-information-circle me-3" style="font-size: 24px;"></i> {{ message }}
            </div>
            {% elif message.tags == 'error'%}
            <div class="alert alert-danger" role="alert">
                <i class="icon ion-md-warning me-3" style="font-size: 24px;"></i> {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </center>
                <div class="">
                    
                    {% block body%}
                    {% for field in form%}
                    
                    <div class=" mb-3">

                        <label for="email" class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control"}}
                        {{ field.error}}
                        
                    </div>
                    {% endfor %}
                    <div class="mb-3">
                      <label for="std-number" class="form-label">Reg No/Staff No:</label>
                      <input type="text" name="std-number" class="form-control" required>
                    </div>
                    <div class="mb-3">
                      <input type="checkbox" name="isStaff" class="form-check-input" >
                      <label for="isStaff">Log in as Staff</label>
                    </div>
                    {%endblock%} 
                </div>
                <div class="mb-5">
                    <input class='btn main-button m-3 active px-3 py-2 fw-bold' type="submit" value="Log In">
                </div>
            </form>
        </div>

            </div>
            
</body>
</html>

